{
  "openapi": "3.1.0",
  "info": {
    "version": "1.0",
    "title": "MangaBaka API",
    "description": "# About the API\n\nAll API requests are served from `https://api.mangabaka.org`\n\nPlease see the [dedicated API page for general information about the API](/api).\n\n## Response shape\n\n- All API endpoints, whether the request is successful or not, returns a JSON document.\n- All JSON documents has a `status: number` root key, designating the status of the response.\n  - The `status` field follow the HTTP response code format.\n- Error response always have a `message: string` key\n  - The `message` field can be safely shown to end-users, as it generally does not contain technical terminology\n  - The error response may return additional root keys, please see individual endpoint for more information.\n- Results that can be paginated always has a `pagination: object` root key\n- Successful requests always contain a `data: object|array` root key\n  - `data` is an `array` when the response is listing multiple resources\n  - `data` is an `object` when the response is for a single resource\n"
  },
  "servers": [
    {
      "url": "https://api.mangabaka.org",
      "description": "Live environment"
    }
  ],
  "tags": [
    {
      "name": "Series",
      "description": "Public, read-only series metadata: details, covers, relationships, similar, and search."
    },
    {
      "name": "Collections",
      "description": "Public, read-only access to a series’ publications: collections, the works (volumes) inside them, and the editions those works are published in. One group because the three are adjacent — a work belongs to a collection, and an edition describes how it was published."
    },
    {
      "name": "Publishers",
      "description": "Public, read-only access to publishers and their catalogs."
    },
    {
      "name": "Source",
      "description": "Public, read-only lookups of a series by external source id (AniList, Kitsu, MangaUpdates, MyAnimeList, Anime-Planet)."
    },
    {
      "name": "Users (/my)",
      "description": "Authenticated access to the signed-in user’s library entries and profile."
    },
    {
      "name": "Crawlers",
      "description": "Public, read-only crawler traffic mirrored from Cloudflare: which bots fetch the catalogue, how much they take, and what they were served. Cloudflare retains about 8 days of it; anything older exists only because it was mirrored here."
    },
    {
      "name": "Data Moderation",
      "description": "Internal moderator/contributor tooling for editing catalog data through the submission system. Versioned v0 on purpose: they expose internal state and may change at any time, without notice or a deprecation window. They are genuinely useful for plenty of automation and tooling, so do use them where they help — just build defensively, pin to nothing, and be ready to adapt when they shift."
    },
    {
      "name": "v0",
      "description": "Version 0 (internal, unstable) API"
    },
    {
      "name": "v1",
      "description": "Version 1 (stable) API"
    },
    {
      "name": "v2",
      "description": "Version 2 (beta) API"
    }
  ],
  "components": {
    "securitySchemes": {
      "x-api-key": {
        "description": "Personal Access Token (PAT) - starting with \"mb-\"",
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      },
      "oauth-token": {
        "type": "openIdConnect",
        "description": "Oauth based authentication",
        "openIdConnectUrl": "https://mangabaka.org/.well-known/openid-configuration",
        "in": "header"
      }
    },
    "schemas": {
      "V1_Series_Default": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "description": "MangaBaka series ID.",
            "example": 84926
          },
          "state": {
            "type": "string",
            "enum": [
              "active",
              "merged",
              "deleted"
            ],
            "description": "When state is `merged` see the `merged_with` field for the new series ID. You should update your system reference to the new ID to receive future series updates."
          },
          "merged_with": {
            "type": [
              "number",
              "null"
            ],
            "example": null,
            "description": "When series `state` is `merged`, this field represent the new series. Please update your records to this value"
          },
          "canonical_url": {
            "type": "string",
            "format": "uri",
            "example": "https://mangabaka.org/novel/84926/Re-Zero-Starting-Life-in-Another-World",
            "description": "Canonical URL for this series. Earlier URLs for the same series redirect here."
          },
          "title": {
            "type": "string",
            "deprecated": true,
            "description": "Use the titles property instead"
          },
          "native_title": {
            "type": [
              "string",
              "null"
            ],
            "deprecated": true,
            "description": "Use the titles property instead"
          },
          "romanized_title": {
            "type": [
              "string",
              "null"
            ],
            "deprecated": true,
            "description": "Use the titles property instead"
          },
          "secondary_titles": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "af": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "am": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ar": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "az": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "be": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "bg": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "bn": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "bs": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ca": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ce": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "cs": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "cv": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "cy": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "da": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "de": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "el": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "en": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "eo": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "es": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "es-la": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "et": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "eu": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "fa": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "fi": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "fr": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ga": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "gl": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "gu": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ha": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "he": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "hi": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "hr": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "hu": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "hy": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "id": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ig": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "is": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "it": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ja": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ja-Latn": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "jv": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ka": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "kk": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "km": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "kn": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ko": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ko-Latn": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ku": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "la": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "lb": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "lo": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "lt": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "lv": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "mk": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ml": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "mn": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "mr": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ms": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "mt": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "my": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ne": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "nl": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "no": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "pa": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "pl": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "pt": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "pt-br": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ro": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ru": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "si": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "sk": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "sl": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "sq": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "sr": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "sv": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "sw": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ta": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "te": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "th": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "tl": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "tg": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "tr": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "uk": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ur": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "uz": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "vi": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "yo": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "lg": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "mi": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "sn": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "so": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "st": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ts": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "tn": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "xh": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "zu": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "zh": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "zh-hk": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "zh-Latn": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "unknown": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ja-ro": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ko-ro": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ru-ro": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "zh-ro": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              }
            },
            "example": {
              "en": [
                {
                  "type": "unofficial",
                  "title": "Re:Zero -Starting Life in Another World-"
                },
                {
                  "type": "unofficial",
                  "title": "Re:Zero Kara Hajimeru Isekai Seikatsu"
                }
              ]
            },
            "deprecated": true,
            "description": "Use the titles property instead"
          },
          "cover": {
            "type": "object",
            "properties": {
              "raw": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri"
                  },
                  "size": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "height": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "width": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "blurhash": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "thumbhash": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "format": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "url"
                ]
              },
              "x150": {
                "type": "object",
                "properties": {
                  "x1": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri",
                    "description": "1x DPI image"
                  },
                  "x2": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri",
                    "description": "2x DPI image"
                  },
                  "x3": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri",
                    "description": "3x DPI image"
                  }
                },
                "required": [
                  "x1",
                  "x2",
                  "x3"
                ],
                "description": "Scaled to retain aspect ratio, with max height of 150px"
              },
              "x250": {
                "type": "object",
                "properties": {
                  "x1": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri",
                    "description": "1x DPI image"
                  },
                  "x2": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri",
                    "description": "2x DPI image"
                  },
                  "x3": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri",
                    "description": "3x DPI image"
                  }
                },
                "required": [
                  "x1",
                  "x2",
                  "x3"
                ],
                "description": "Scaled to retain aspect ratio, with max height of 250px"
              },
              "x350": {
                "type": "object",
                "properties": {
                  "x1": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri",
                    "description": "1x DPI image"
                  },
                  "x2": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri",
                    "description": "2x DPI image"
                  },
                  "x3": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri",
                    "description": "3x DPI image"
                  }
                },
                "required": [
                  "x1",
                  "x2",
                  "x3"
                ],
                "description": "Scaled to retain aspect ratio, with max height of 350px"
              }
            },
            "required": [
              "raw",
              "x150",
              "x250",
              "x350"
            ],
            "description": "Cover image for the series, in several sizes."
          },
          "authors": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "example": [
              "NAGATSUKI Tappei"
            ],
            "description": "Staff that is credited with being authors on the sites"
          },
          "artists": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "example": [
              "Shinichirou Ootsuka"
            ],
            "description": "Staff that is credited with being artists on the sites"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "example": "Subaru Natsuki was just trying to get to the convenience store but wound up summoned to another world. He encounters the usual things--life-threatening situations, silver haired beauties, cat fairies--you know, normal stuff. All that would be bad enough, but he's also gained the most inconvenient magical ability of all--time travel, but he's got to die to use it. How do you repay someone who saved your life when all you can do is die?",
            "description": "The series description"
          },
          "year": {
            "type": [
              "number",
              "null"
            ],
            "deprecated": true,
            "example": 2014,
            "description": "**DEPRECATED** use published key instead. The year publication began for the series"
          },
          "published": {
            "type": "object",
            "properties": {
              "start_date": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date",
                "example": "2014-01-01",
                "description": "Date publication started for the series"
              },
              "end_date": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date",
                "example": "2020-11-10",
                "description": "Date publication ended for the series"
              },
              "start_date_is_estimated": {
                "type": [
                  "boolean",
                  "null"
                ],
                "example": true,
                "description": "Whether start_date is estimated from year-only source precision"
              },
              "end_date_is_estimated": {
                "type": [
                  "boolean",
                  "null"
                ],
                "example": false,
                "description": "Whether end_date is estimated from year-only source precision"
              }
            },
            "required": [
              "start_date",
              "end_date",
              "start_date_is_estimated",
              "end_date_is_estimated"
            ],
            "additionalProperties": false,
            "description": "Publication date details"
          },
          "status": {
            "type": "string",
            "enum": [
              "cancelled",
              "completed",
              "hiatus",
              "releasing",
              "unknown",
              "upcoming"
            ],
            "example": "releasing",
            "description": "The series publication status."
          },
          "is_licensed": {
            "type": "boolean",
            "example": true,
            "description": "Has the series been licensed in English?"
          },
          "has_anime": {
            "type": "boolean",
            "example": true,
            "description": "Has the series gotten an anime adaptation?"
          },
          "anime": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "start": {
                "type": [
                  "string",
                  "null"
                ],
                "example": "Vol 1 (S1)",
                "description": "From what volume/chapter did the anime start at"
              },
              "end": {
                "type": [
                  "string",
                  "null"
                ],
                "example": "Vol 9 (S1)",
                "description": "At what volume/chapter did the anime stop at"
              }
            },
            "required": [
              "start",
              "end"
            ],
            "additionalProperties": false,
            "description": "Details about the anime adaptation"
          },
          "content_rating": {
            "type": "string",
            "enum": [
              "safe",
              "suggestive",
              "erotica",
              "pornographic"
            ],
            "example": "safe",
            "description": "The sexual content rating of the series - denotes the highest level of sexual content shown.\n\nGenerally, \"safe\" has no nudity or sex, \"suggestive\" can have nudity but no sex, \"erotica\" has sex but it's censored, and \"pornographic\" has uncensored sex or for censored 18+ works."
          },
          "type": {
            "type": "string",
            "enum": [
              "manga",
              "novel",
              "manhwa",
              "manhua",
              "oel",
              "other"
            ],
            "example": "novel",
            "description": "The media type for the series."
          },
          "rating": {
            "type": [
              "number",
              "null"
            ],
            "example": 91.4908571428572,
            "description": "The MangaBaka meta rating on a 0-100 scale, averaged across the sources. Per-source values are in `source[*].rating_normalized` on the same scale; `source[*].rating` is each provider's own scale and is not comparable."
          },
          "popularity": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "global": {
                "type": "object",
                "properties": {
                  "current": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "example": 118,
                    "description": "Current rank in this scope. Rank 1 = most popular (lower is better)."
                  },
                  "history": {
                    "type": "object",
                    "properties": {
                      "1d": {
                        "type": [
                          "integer",
                          "null"
                        ]
                      },
                      "1w": {
                        "type": [
                          "integer",
                          "null"
                        ]
                      },
                      "1mo": {
                        "type": [
                          "integer",
                          "null"
                        ]
                      },
                      "3mo": {
                        "type": [
                          "integer",
                          "null"
                        ]
                      },
                      "6mo": {
                        "type": [
                          "integer",
                          "null"
                        ]
                      },
                      "1y": {
                        "type": [
                          "integer",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "1d",
                      "1w",
                      "1mo",
                      "3mo",
                      "6mo",
                      "1y"
                    ],
                    "example": {
                      "1d": 130,
                      "1w": 145,
                      "1mo": 95,
                      "3mo": null,
                      "6mo": null,
                      "1y": null
                    },
                    "description": "Rank at each past point in time (null = insufficient history). Rank 1 = most popular (lower is better), so a value greater than `current` means the series has trended up since then."
                  }
                },
                "required": [
                  "current",
                  "history"
                ],
                "description": "Popularity across all series."
              },
              "type": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "current": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "example": 118,
                    "description": "Current rank in this scope. Rank 1 = most popular (lower is better)."
                  },
                  "history": {
                    "type": "object",
                    "properties": {
                      "1d": {
                        "type": [
                          "integer",
                          "null"
                        ]
                      },
                      "1w": {
                        "type": [
                          "integer",
                          "null"
                        ]
                      },
                      "1mo": {
                        "type": [
                          "integer",
                          "null"
                        ]
                      },
                      "3mo": {
                        "type": [
                          "integer",
                          "null"
                        ]
                      },
                      "6mo": {
                        "type": [
                          "integer",
                          "null"
                        ]
                      },
                      "1y": {
                        "type": [
                          "integer",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "1d",
                      "1w",
                      "1mo",
                      "3mo",
                      "6mo",
                      "1y"
                    ],
                    "example": {
                      "1d": 130,
                      "1w": 145,
                      "1mo": 95,
                      "3mo": null,
                      "6mo": null,
                      "1y": null
                    },
                    "description": "Rank at each past point in time (null = insufficient history). Rank 1 = most popular (lower is better), so a value greater than `current` means the series has trended up since then."
                  }
                },
                "required": [
                  "current",
                  "history"
                ],
                "description": "Popularity within the series' media type (the `type` field). Null when the type is unknown."
              }
            },
            "required": [
              "global",
              "type"
            ],
            "description": "Popularity ranking and per-window trends, both across all series (`global`) and within the series' media type (`type`). Rank 1 = most popular (lower is better). Updated daily; cached responses may lag."
          },
          "final_volume": {
            "type": [
              "string",
              "null"
            ],
            "example": "40",
            "description": "The last volume, once the series has finished. Null while it is unknown or still running."
          },
          "total_chapters": {
            "type": [
              "string",
              "null"
            ],
            "example": "71",
            "description": "How many chapters the series has in total. Null while that is unknown."
          },
          "links": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "default": [],
            "deprecated": true,
            "example": [
              "https://yenpress.com/9780316315302/rezero-starting-life-in-another-world-vol-1-light-novel/",
              "https://re-zero.com/",
              "https://www.ofelbe.com/Serie-10-ReZero-Revivredansunautremondeàpartirdezéro"
            ],
            "description": "**DEPRECATED** Use links_v2 instead - A raw list of links related to the series. There will always be a link to MangaBaka in this list."
          },
          "links_v2": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/V1_Link"
            },
            "description": "Links related to the series",
            "example": []
          },
          "publishers": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "note": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "name",
                "type",
                "note"
              ]
            },
            "example": [
              {
                "name": "Media Factory",
                "type": "Original",
                "note": "MF Bunko J"
              },
              {
                "name": "Syosetu",
                "type": "Original",
                "note": null
              },
              {
                "name": "Yen On",
                "type": "English",
                "note": "25 Volumes - Ongoing"
              }
            ],
            "description": "List of publishers for the series"
          },
          "titles": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "language": {
                  "$ref": "#/components/schemas/V2_TitleLanguage"
                },
                "traits": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "official",
                      "native",
                      "alternative"
                    ]
                  }
                },
                "title": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 1000
                },
                "note": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "is_primary": {
                  "type": [
                    "boolean",
                    "null"
                  ],
                  "default": false
                }
              },
              "required": [
                "language",
                "traits",
                "title"
              ]
            },
            "description": "Every known title for the series, each with its language and which kind of title it is."
          },
          "genres_v2": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/V1_Series_Tag"
            },
            "description": "Not populated — always null. Filter `tags_v2` on `is_genre` to get a series’ genres."
          },
          "genres": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string",
              "enum": [
                "action",
                "adult",
                "adventure",
                "avant_garde",
                "award_winning",
                "boys_love",
                "comedy",
                "doujinshi",
                "drama",
                "ecchi",
                "erotica",
                "fantasy",
                "gender_bender",
                "girls_love",
                "gourmet",
                "harem",
                "hentai",
                "historical",
                "horror",
                "josei",
                "lolicon",
                "mahou_shoujo",
                "martial_arts",
                "mature",
                "mecha",
                "music",
                "mystery",
                "psychological",
                "romance",
                "school_life",
                "sci-fi",
                "seinen",
                "shotacon",
                "shoujo",
                "shoujo_ai",
                "shounen",
                "shounen_ai",
                "slice_of_life",
                "smut",
                "sports",
                "supernatural",
                "suspense",
                "thriller",
                "tragedy",
                "yaoi",
                "yuri"
              ]
            },
            "default": [],
            "deprecated": true,
            "example": [
              "action",
              "adventure",
              "drama",
              "fantasy",
              "psychological"
            ],
            "description": "**DEPRECATED** Use tags_v2 key instead and filter on \"is_genre:true\". Series genres"
          },
          "tags_v2": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/V1_Series_Tag"
            },
            "description": "The series’ tags, each with how relevant it is to this series and whether it is a genre or a spoiler."
          },
          "tags": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "deprecated": true,
            "description": "**DEPRECATED** use tags_v2 key instead. Freeform list of tags for a series. These values are *NOT* stable and may change at any time.",
            "example": [
              "Flashbacks",
              "Parents",
              "Body Horror",
              "Kind Male Lead",
              "Trap",
              "Self-Hatred",
              "Dying Protagonist",
              "Obsession"
            ]
          },
          "last_updated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2025-06-01T15:07:57.706Z",
            "description": "Most recent timestamp for when ANY source was updated. See `source[*].last_updated_at` (in the full response) for individual source update timestamps"
          },
          "relationships": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "main_story": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              },
              "adaptation": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              },
              "prequel": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              },
              "sequel": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              },
              "side_story": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              },
              "spin_off": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              },
              "alternative": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              },
              "other": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              }
            },
            "deprecated": true,
            "example": {
              "adaptation": [
                20299,
                21593,
                23837,
                2634,
                3370
              ],
              "side_story": [
                98585,
                84927,
                32970,
                39977
              ],
              "spin_off": [
                26173
              ]
            },
            "description": "**Deprecated.** Use \"relationships_v2\" key or the dedicated `GET /v1/series/{id}/relationships` endpoint instead. This field exposes a coarse 8-bucket roll-up of edges and is retained for backwards compatibility only."
          },
          "relationships_v2": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V1_Series_Relationship"
            },
            "description": "Per-series relationship edges resolved from all configured sources. Each entry points at a related series and carries the directional `relation_type` (e.g. `sequel`, `adaptation`, `spin_off`). Manual moderator edits are flagged with `is_manual: true`. For long lists, prefer the paginated `GET /v1/series/{id}/relationships` endpoint.",
            "example": [
              {
                "id": "01950000-0000-7000-8000-000000000001",
                "to_series_id": 20299,
                "relation_type": "adaptation",
                "is_manual": false,
                "note": null
              },
              {
                "id": "01950000-0000-7000-8000-000000000002",
                "to_series_id": 26173,
                "relation_type": "spin_off",
                "is_manual": true,
                "note": "Spin-off centred on the side characters."
              }
            ]
          },
          "source": {
            "type": "object",
            "properties": {
              "anilist": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "rating": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "rating_normalized": {
                    "type": [
                      "number",
                      "null"
                    ]
                  }
                },
                "required": [
                  "id",
                  "rating"
                ],
                "additionalProperties": false
              },
              "anime_planet": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "rating": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "rating_normalized": {
                    "type": [
                      "number",
                      "null"
                    ]
                  }
                },
                "required": [
                  "id",
                  "rating"
                ],
                "additionalProperties": false
              },
              "anime_news_network": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "rating": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "rating_normalized": {
                    "type": [
                      "number",
                      "null"
                    ]
                  }
                },
                "required": [
                  "id",
                  "rating"
                ],
                "additionalProperties": false
              },
              "kitsu": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "rating": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "rating_normalized": {
                    "type": [
                      "number",
                      "null"
                    ]
                  }
                },
                "required": [
                  "id",
                  "rating"
                ],
                "additionalProperties": false
              },
              "manga_updates": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "rating": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "rating_normalized": {
                    "type": [
                      "number",
                      "null"
                    ]
                  }
                },
                "required": [
                  "id",
                  "rating"
                ],
                "additionalProperties": false
              },
              "my_anime_list": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "rating": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "rating_normalized": {
                    "type": [
                      "number",
                      "null"
                    ]
                  }
                },
                "required": [
                  "id",
                  "rating"
                ],
                "additionalProperties": false
              },
              "shikimori": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "rating": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "rating_normalized": {
                    "type": [
                      "number",
                      "null"
                    ]
                  }
                },
                "required": [
                  "id",
                  "rating"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "anilist",
              "anime_planet",
              "anime_news_network",
              "kitsu",
              "manga_updates",
              "my_anime_list",
              "shikimori"
            ],
            "additionalProperties": false,
            "example": {
              "anilist": {
                "id": 85737,
                "rating": 8.8
              },
              "anime_planet": {
                "id": null,
                "rating": null
              },
              "anime_news_network": {
                "id": 17902,
                "rating": null
              },
              "kitsu": {
                "id": 26776,
                "rating": 8.261
              },
              "manga_updates": {
                "id": "3qzxncc",
                "rating": 7.65
              },
              "my_anime_list": {
                "id": 74697,
                "rating": 8.82
              },
              "shikimori": {
                "id": 74697,
                "rating": 8.82
              }
            },
            "description": "The entry for this series on each of the sites we track, with that site’s own id and rating. Null where the series has no entry there, or where the site publishes no rating."
          }
        },
        "required": [
          "id",
          "state",
          "merged_with",
          "canonical_url",
          "title",
          "native_title",
          "romanized_title",
          "secondary_titles",
          "cover",
          "authors",
          "artists",
          "description",
          "year",
          "status",
          "is_licensed",
          "has_anime",
          "anime",
          "content_rating",
          "type",
          "rating",
          "final_volume",
          "total_chapters",
          "publishers",
          "tags",
          "last_updated_at",
          "relationships",
          "relationships_v2",
          "source"
        ],
        "additionalProperties": false
      },
      "API_V1_Series_Secondary_Title": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "alternative",
              "native",
              "official",
              "romanized",
              "unofficial",
              "unknown"
            ],
            "description": "What kind of title this is — the publisher’s `official` one, the `native` title in its original script, a `romanized` spelling of it, an `alternative` or fan-made `unofficial` name, or `unknown` where we could not tell."
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "description": "The title itself."
          },
          "note": {
            "type": [
              "string",
              "null"
            ],
            "description": "Extra context about this title, where one title alone needs explaining."
          }
        },
        "required": [
          "type",
          "title"
        ]
      },
      "V1_Link": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUIDv7 of the series ↔ link binding (`series_links.id`).",
            "example": "019024ff-1e8a-7ad9-9b0a-1f8b3c4d5e6f"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Canonical URL. Always https. Tracker params stripped, per-domain rules applied.",
            "example": "https://www.amazon.de/dp/B0CN8ZRF1K"
          },
          "name": {
            "type": "string",
            "description": "Lowercased punycode hostname (`link_domains.name_ascii`). Used for grouping in the UI.",
            "example": "www.amazon.de"
          },
          "name_display": {
            "type": "string",
            "description": "Human-readable domain display name (`link_domains.name_display`). Falls back to `name` when unset; leading `www.` is stripped for display.",
            "example": "Amazon.de"
          },
          "type": {
            "type": "string",
            "enum": [
              "retailer",
              "publisher",
              "webplatform",
              "info",
              "social",
              "news",
              "piracy",
              "other"
            ],
            "description": "Effective link type. Resolved via COALESCE(series_links.type, link_domains.default_type, parent.default_type, \"other\").",
            "example": "retailer"
          },
          "language": {
            "type": "string",
            "description": "Effective language. Resolved via COALESCE(series_links.language, links.language, link_domains.default_language, parent.default_language, \"unknown\").",
            "example": "de"
          }
        },
        "required": [
          "id",
          "url",
          "name",
          "name_display",
          "type",
          "language"
        ],
        "additionalProperties": false
      },
      "V2_TitleLanguage": {
        "type": "string",
        "enum": [
          "af",
          "am",
          "ar",
          "az",
          "be",
          "bg",
          "bn",
          "bs",
          "ca",
          "ce",
          "cs",
          "cv",
          "cy",
          "da",
          "de",
          "el",
          "en",
          "eo",
          "es",
          "es-la",
          "et",
          "eu",
          "fa",
          "fi",
          "fr",
          "ga",
          "gl",
          "gu",
          "ha",
          "he",
          "hi",
          "hr",
          "hu",
          "hy",
          "id",
          "ig",
          "is",
          "it",
          "ja",
          "ja-Latn",
          "jv",
          "ka",
          "kk",
          "km",
          "kn",
          "ko",
          "ko-Latn",
          "ku",
          "la",
          "lb",
          "lo",
          "lt",
          "lv",
          "mk",
          "ml",
          "mn",
          "mr",
          "ms",
          "mt",
          "my",
          "ne",
          "nl",
          "no",
          "pa",
          "pl",
          "pt",
          "pt-br",
          "ro",
          "ru",
          "si",
          "sk",
          "sl",
          "sq",
          "sr",
          "sv",
          "sw",
          "ta",
          "te",
          "th",
          "tl",
          "tg",
          "tr",
          "uk",
          "ur",
          "uz",
          "vi",
          "yo",
          "lg",
          "mi",
          "sn",
          "so",
          "st",
          "ts",
          "tn",
          "xh",
          "zu",
          "zh",
          "zh-hk",
          "zh-Latn",
          "unknown"
        ]
      },
      "V1_Series_Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "merged_with": {
            "type": [
              "number",
              "null"
            ]
          },
          "is_spoiler": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "is_genre": {
            "type": "boolean",
            "default": false,
            "description": "Whether this tag is considered a genre",
            "example": false
          },
          "is_explicit": {
            "type": "boolean",
            "default": false
          },
          "implied_by_tag_ids": {
            "type": "array",
            "items": {
              "type": "integer",
              "exclusiveMinimum": 0
            },
            "default": []
          },
          "parent_id": {
            "type": [
              "integer",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "name": {
            "type": "string"
          },
          "level": {
            "type": "number"
          },
          "name_path": {
            "type": "string"
          },
          "series_count": {
            "type": "number"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "content_rating": {
            "type": "string",
            "enum": [
              "safe",
              "suggestive",
              "erotica",
              "pornographic"
            ]
          },
          "weight": {
            "type": "string",
            "enum": [
              "core",
              "defining",
              "recurrent",
              "incidental",
              "unweighted"
            ],
            "default": "unweighted",
            "description": "Per-series tag relevance: core | defining | recurrent | incidental | unweighted",
            "example": "defining"
          }
        },
        "required": [
          "id",
          "is_spoiler",
          "parent_id",
          "name",
          "level",
          "name_path",
          "series_count",
          "description",
          "content_rating"
        ],
        "additionalProperties": false
      },
      "V1_Series_Relationship": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "to_series_id": {
            "type": "number"
          },
          "relation_type": {
            "type": "string",
            "enum": [
              "adaptation",
              "alternative",
              "cameo",
              "character_focus",
              "compilation",
              "contains",
              "crossover",
              "expansion",
              "main",
              "other",
              "parent",
              "parody",
              "prequel",
              "reboot",
              "remake",
              "sequel",
              "series",
              "side_story",
              "source",
              "spin_off",
              "summary",
              "uncollected"
            ]
          },
          "is_manual": {
            "type": "boolean"
          },
          "note": {
            "type": [
              "string",
              "null"
            ]
          },
          "chronology": {
            "type": "string",
            "enum": [
              "narrative",
              "release",
              "unknown"
            ]
          },
          "published_start_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "deprecated": true,
            "description": "Deprecated — no longer populated; always null. The target series’ publication date is available via the target series object on /v1/series/{id}."
          }
        },
        "required": [
          "id",
          "to_series_id",
          "relation_type",
          "is_manual",
          "note",
          "chronology",
          "published_start_date"
        ],
        "additionalProperties": false
      },
      "V1_Series_Full": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "description": "MangaBaka series ID.",
            "example": 84926
          },
          "state": {
            "type": "string",
            "enum": [
              "active",
              "merged",
              "deleted"
            ],
            "description": "When state is `merged` see the `merged_with` field for the new series ID. You should update your system reference to the new ID to receive future series updates."
          },
          "merged_with": {
            "type": [
              "number",
              "null"
            ],
            "example": null,
            "description": "When series `state` is `merged`, this field represent the new series. Please update your records to this value"
          },
          "canonical_url": {
            "type": "string",
            "format": "uri",
            "example": "https://mangabaka.org/novel/84926/Re-Zero-Starting-Life-in-Another-World",
            "description": "Canonical URL for this series. Earlier URLs for the same series redirect here."
          },
          "title": {
            "type": "string",
            "deprecated": true,
            "description": "Use the titles property instead"
          },
          "native_title": {
            "type": [
              "string",
              "null"
            ],
            "deprecated": true,
            "description": "Use the titles property instead"
          },
          "romanized_title": {
            "type": [
              "string",
              "null"
            ],
            "deprecated": true,
            "description": "Use the titles property instead"
          },
          "secondary_titles": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "af": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "am": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ar": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "az": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "be": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "bg": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "bn": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "bs": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ca": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ce": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "cs": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "cv": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "cy": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "da": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "de": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "el": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "en": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "eo": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "es": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "es-la": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "et": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "eu": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "fa": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "fi": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "fr": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ga": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "gl": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "gu": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ha": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "he": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "hi": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "hr": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "hu": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "hy": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "id": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ig": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "is": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "it": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ja": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ja-Latn": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "jv": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ka": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "kk": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "km": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "kn": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ko": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ko-Latn": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ku": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "la": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "lb": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "lo": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "lt": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "lv": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "mk": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ml": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "mn": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "mr": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ms": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "mt": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "my": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ne": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "nl": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "no": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "pa": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "pl": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "pt": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "pt-br": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ro": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ru": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "si": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "sk": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "sl": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "sq": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "sr": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "sv": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "sw": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "ta": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "te": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "th": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/API_V1_Series_Secondary_Title"
                }
              },
              "tl": {
[...]
